body{
    background-color: #F7F7F8;
}

.free-courses-banner{
    background-color: #FF9500;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 15px;
    padding: 1px;
    text-align: center;
}

.main-pages{
    
}