body {
    background-color: #F7F7F8;
}

.skip-link {
    position: absolute;
    top: -50px; 
    left: 10px;
    background-color: #FF9500;
    color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.skip-link:focus {
    top: 1px;
}

.free-courses-banner {
    background-color: #FF9500;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 45px 15px 15px 15px;
    padding: 1px;
    text-align: center;
}

.free-courses-banner p {
    font-size: 20px;
}

header img {
    margin: 0 0 0 215px;
}

.nav-list {
    display: flex; /* Creating a flex box */
    flex-direction: column; /* Changing the nav list to vertical */
    list-style: none;
    align-items: center; 
    padding: 0;
}

.nav-list li {
    width: 100%; /* Ensures all list items are the same width */
    text-align: center; /* Ensures text inside is centered */
}

nav ul li a {
    padding: 20px 50px;
    color: #262626;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #F1F1F3;
    width: 73%;
}

nav ul li a.current {
    background-color: #F1F1F3;
    width: 73%;
    border-radius: 5px;
}

.nav-btns {
    text-align: left;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F1F1F3;
}

.signup {
    color: #262626;
    text-decoration: none;
}

.login {
    color: #FFFFFF;
    background-color: #FF9500;
    text-decoration: none;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h1 strong {
    color: #FF9500;
}

.unlock-potential {
    display: flex;
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    margin-top: 60px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 10px;
}

.unlock-potential img {
    width: 13%;
    margin-right: 15px;
    margin-left: 13px;
}

.header h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
}

.header p {
    text-align: center;
    margin-top: -20px;
    font-size: 18px;
}

.explore-btn {
    color: #FFFFFF;
    background-color: #FF9500;
    text-decoration: none;
    border: none;
    padding: 20px;
    margin-left: 15px;
    border-radius: 10px;
}

.view-pricing-btn {
    color: #262626;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #F1F1F3;
    padding: 20px;
    margin-left: 15px;
    border-radius: 10px;
}

.header-buttons {
    display: flex;
    margin-top: 85px;
    justify-content: center;
}

.amazon, 
.adobe,
.notion,
.netflix {
    display:none;
}

.collabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    margin-top: 30px; 
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 1px solid #F1F1F3;
}

.hero-banner {
    width: 100%;
    max-width: 1200px; 
    margin-top: 30px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.view-all-btn {
    color: #262626;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #F1F1F3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.view-all-btn:hover {
    transform: scale(0.8);
    transition: transform 1s ease;
    background-color: #FF9500;
    color: #FFFFFF;
}

.view-all-btn p {
    font-size: 14px;
}

.benefits-section {
    margin-top: 50px;
}

.benefits-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: -14px;
    padding-bottom: 30px;
}

.benefits-card h2 {
    text-align: right;
    padding: 15px;
    font-size: 45px;
}

.benefits-card h3 {
    text-align: left;
    margin-top: -40px;
}

.benefits-card p {
    width: 70%;
}

.benefits-crd-content {
    margin-left: 100px;
}

.arrow-btn {
    display: flex;
    margin-left: 420px;
}

.courses {
    margin-top: 50px;
}

.courses-desc {
    width: 70%;
}

.courses-card {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.courses-card h3 {
    text-align: left;
    margin-top: 30px;
}

.course-card-info-btn,
.course-card-info-btn-2 {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.course-card-info-btn-2 {
    margin-left: 10px;
}

.course-card-btns {
    display: flex;
}

.get-it-now-btn {
    width: 100%;
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    margin-top: 15px;
}

.course-img {
    margin-top: 5px;
    width: 100%;
}

.testimonials-section {
    margin-top: 50px;
}

.testimonials-card {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
}

.user-line {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-line p {
    margin-left: 10px;
}

.user-line .get-it-now-btn {
    margin-left: 35px;
}

.user-line-background {
    background-color: #FCFCFD;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

.monthly-yearly-box {
    display: flex;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    width: 36%;
    margin-left: 150px;
}

.monthly-btn {
    background-color: #FF9500; 
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.yearly-text {
    padding-left: 20px;
}

.card-section {
    background-color: #FFFFFF;
    margin-top: 50px;
    padding: 15px;
    border-radius: 10px;
}

.plan-text {
    background-color: #FFF9F0;
    border: 1px solid #FFEACC;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    width: 90%;
    margin-top: 35px;
    margin-left: 25px;
}

.card-section h2
,h3 {
    border: none;
    text-align: center;
}

.card-section h3 {
    font-size: 50px;
    margin-top: 30px;
}

.card-section h4 {
    text-align: center;
    font-size: 20px;
}

.card-section strong {
    color: #4C4C4D;
    font-size: 15px;
}

.card-background {
    background-color: #FCFCFD;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    margin-top: -30px;
    padding-bottom: 20px;
}

.white-background {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F3;
    border-radius: 10px;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-section li {
    display: flex;
    border: 1px solid #F1F1F3;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: -20px;
}

.card-section li p {
    margin-left: 10px;
}

.card-section img {
    margin-left: 10px;
}

@keyframes textPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.7); 
    }
    100% {
        transform: scale(1); 
    }
}

.get-started-btn {
    background-color: #FF9500;
    color: #FFFFFF;
    border: none;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.get-started-btn p {
    font-size: 18px;
    animation: textPulse 1.1s infinite alternate ease-in-out;
}

.pricing-section {
    margin-top: 50px;
}

.pricing-card:nth-child(1) {
    margin-top: 40px;
}

.pricing-card:nth-child(2) {
    margin-top: 70px;
}

.faq-header {
    padding: 20px;
    font-size: 37px;
}

.faq-sub-header {
    margin-top: -60px;
    margin-left: 20px;
    line-height: 4.2;
}

.faq-section .view-all-btn {
    margin-top: -10px;
    margin-left: 20px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 5px;
}

.faq-section {
    background-color: #FFFFFF;
    padding-bottom: 20px;
    border-radius: 10px;
}

.faq-large-card {
    border: 1px solid #F1F1F3;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.faq-large-card h2 {
    font-size: 19px;
    margin-left: 10px;
    padding-left: 20px;
}   

.faq-mini-card h2 {
    margin-left: 10px;
    padding-left: 20px;
    font-size: 19px;
}

.faq-large-card p {
    margin-left: 30px;
}

.q-and-a-flex {
    display: flex;
    border-bottom: 1px solid #F1F1F3;
    margin-top: 10px;
}

.q-and-a-flex img {
    margin-left: 50px;
    margin-right: 30px;
}

.enrollment-process-background {
    background-color: #F7F7F8;
    border: 1px solid #F1F1F3;
    display: flex;
    border-radius: 5px;
    padding-left: 10px;
    margin: 30px;
}

.enrollment-process-background h2 {
    font-size: 14px;
    width: 50%;
    margin-left: -10px;
}

.enrollment-process-background img {
    width: 10%;
    margin-left: 120px;
}

.faq-mini-card {
    display: flex;
    margin-top: 30px;
    border: 1px solid #F1F1F3;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.faq-mini-card img {
    margin-right: 30px;
    width: 10%;
}

footer {
    background-color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: -8px;
    margin-right: -8px;
}

footer ul {
    list-style: none;
    margin-left: -21px;
    line-height: 0.1;
}

.footer-flex-display {
    display: flex;
}

.footer-flex-display p {
    margin-left: 10px;
}

.footer-logo {
    margin-right: 10px;
    margin-top: 30px;
    padding: 20px;
}

footer ul li a {
    color: #59595A;
    text-decoration: none;
}

.home-and-about-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 5px;
}

.footer-grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: start; 
}

.grid-item {
    display: flex;
    flex-direction: column;
}

.grid-item h2 {
    margin-left: 19px;
    margin-top: 5px;
}

.social-profiles-flex {
    display: flex;
    margin-top: -10px;
    border-bottom: 1px solid #F1F1F3;
    gap: 15px;
}

.social-profiles {
    margin-left: 19px;
    margin-bottom: 25px;
}

.social-profiles-flex img {
    margin-bottom: 20px;
}

.copyright-line {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 17px;
    color: #656567;
}


/* Desktop */
@media (min-width: 1300px) {
    .free-courses-banner p {
        font-size: 16px;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        margin-left: -100px;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        margin-left: 80px;
    }

    .nav-list li {
        margin-left: -40px;
    }

    .current {
        padding: 10px;
    }
}